body {
  overscroll-behavior: none;
}

body {
  font-family: 'Rancho', cursive;
}

.element::-webkit-scrollbar{ width: 0 ! important }


* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: 'Montserrat', 'Rancho';
}

p {
  padding: 0px !important;
  margin-bottom: 0px !important;
}

.section {
  margin-top: 100px;
}

/* @media (min-width: 1200px) {
  .container {
    max-width: 1300px !important;
  }
} */

/* sec1 */

.sec1 {
  background: linear-gradient(90deg,#fff 70%,#3F2305 0);
  /* background-color: #3F2305; */
}

.nav {
  display: flex;
  place-content: space-between;
  padding: 30px 0px;
  place-self: center;
  text-align: center;
}

#logo {
  color: var(--Dark, #fff);
  font-size: 23.97px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
  line-height: 29.963px;
  /* 125% */
}

@media(max-width:900px) {

  .menu-btn {
    display: none;
  }

  .menu-link {
    display: none !important;
  }

}

.menu-link {
  display: flex;
}

.menu-link p {
  transition-duration: 0.3s;
  cursor: pointer;
  color: #3F2305;
}
/* 
.menu-link p:hover {
  border-bottom: 1px solid #fff;
} */

#headbtn {
  display: flex;
  width: 104.87px;
  height: 41.948px;
  flex-direction: column;
  border-radius: 22.472px;
  border: 0.749px solid #fff;
  justify-content: center;
  align-items: center;
  background: #3F2305;
  flex-shrink: 0;
  color: white;
  transition-duration: 0.7s;
}

#headbtn:hover {
  background-color: #fff;
  color: #3F2305;
  border-color: #fff;
}


/* sec1 */

.sec2{
  background: linear-gradient(90deg,#fff 70%,#3F2305 0);
}

/* SEC3 */

.sec3 {
  background-color: #f2ead3;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}

.sec3.visible {
  opacity: 1;
  transform: translateY(0);
}

.sec2box {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s, transform 1s;
}

.sec2img {
  width: 50px;
  align-self: center;
}

/* animation */

.sec3.visible .sec2box {
  opacity: 1;
  transform: translateX(0);
}

.sec2box:nth-child(1) {
  transition-delay: 0.3s;
}

.sec2box:nth-child(2) {
  transition-delay: 0.6s;
}

.sec2box:nth-child(3) {
  transition-delay: 0.9s;
}

.sec2box:nth-child(4) {
  transition-delay: 1.2s;
}

/* animaation */
/* SEC3 */

/* SEC4 */

.sec4.container {
  gap: 20px;
}

#sec4_title {
  color: var(--Dark, #3F2305);
  font-family: Rancho;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#sec4_desc {
  color: var(--Small-Title, #555);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 166.667% */
}

#sec4_boxtitle {
  color: var(--Dark, #3F2305);
  font-family: Rancho;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#sec4_boxdesc {
  color: var(--Small-Title, #555);
  font-family: Raleway;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 144.444% */
}

#abouttext {
  color: var(--Small-Title, #555);
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 5.5px;
  text-transform: uppercase;
}

/* animation */

.sec4 {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}

.sec4 .sec4col1 {
  translate: translateX(-100px);
}

.sec4 .sec4col2 {
  translate: translateX(100px);
}

.sec4.visible {
  opacity: 1;
  transform: translateY(0);
}

.sec4col1 {
  transform: translateX(-100%);
  transition: transform 1.5s;
}

.sec4col2 {
  transform: translateX(100%);
  transition: transform 1.5s;
}

/* animation */

/* SEC4 */

/* SEC5 */

.sec5{
  margin-top: 100px;
}

#sec5_boxtitle {
  color: var(--Dark, #3F2305);
  font-family: Rancho;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#sec5_boxdesc {
  color: var(--Small-Title, #555);
  font-family: Raleway;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 144.444% */
}

.sec5 {
  padding: 100px 0;
  background: url('./img/sec5bg.png');
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}

.sec5.visible {
  opacity: 1;
  transform: translateY(0);
}

#sec5img {
  width: 504px;
}

#sec5col1 {
  padding-left: 0px;
}

/* animation */

.sec5box {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 1s, transform 1s;
}

.sec5.visible .sec5box {
  opacity: 1;
  transform: translateX(0);
}

.sec5box:nth-child(1) {
  transition-delay: 0.3s;
}

.sec5box:nth-child(2) {
  transition-delay: 0.6s;
}

.sec5box:nth-child(3) {
  transition-delay: 0.9s;
}

.sec5box:nth-child(4) {
  transition-delay: 1.2s;
}

/* animaation */

/* SEC5 */



/* SEC6 */

#subscribe {
  width: max-content;
  border-radius: 32.5px;
  padding: 5px 37px;
  font-family: Rancho;
  font-size: 20px;
  font-weight: 400;
  line-height: 38px;
  color: white;
  letter-spacing: 0em;
  background-color: #3F2305;
  border: 1px solid #3F2305;
}

#sec6sweet {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

#dot {
  width: 15px;
  align-self: center;
  height: 15px;
}

.dotdiv {
  display: flex;
  gap: 30px;
}

/* animation */

.sec6 {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}

.sec6 .sec4col1 {
  translate: translateX(-100px);
}

.sec6 .sec4col1 {
  translate: translateX(100px);
}

.sec6.visible {
  opacity: 1;
  transform: translateY(0);
}

.sec6col1 {
  transform: translateY(-100%);
  transition: transform 1.5s;
}

.sec6col2 {
  transform: translateY(100%);
  transition: transform 1.5s;
}

/* animation */

/* SEC6 */

/* SEC7 */

.sec7 .container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3.5px;
}

.up {
  transform: rotate(-47deg);
  -webkit-transform: rotate(-47deg);
}

#more_menu {
  border-radius: 32px;
  font-family: Rancho;
  font-size: 20px;
  border: 1px solid;
  font-weight: 400;
  line-height: 33px;
  background: white;
  padding: 7px 37px;
  letter-spacing: 0em;
  text-align: left;
}

#sec7img1 {
  width: 100%;
  height: 500px;
  transition: transform;
}

#sec7img2 {
  width: 100%;
  height: 500px;
}

#sec7subdiv1 {
  padding-left: 0px;
}

#sec7subdiv2 {
  padding-right: 0px;
}

/* animation */

.sec7 {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}

.sec7col2 {
  translate: translateX(100px);
}

.sec7.visible {
  opacity: 1;
  transform: translateY(0);
}

#sec7subdiv1 {
  transform: translateY(-100%);
  transition: transform 1.5s;
}

#sec7subdiv2 {
  transform: translatey(100%);
  transition: transform 1.5s;
}

#sec7img1:hover{
  transform: scale(1.2);
  transition-duration: 5s;
}

#sec7img2:hover{
  transform: scale(1.2);
  transition-duration: 5s;
}

#sec6img:hover{
  transform: scale(1.2);
  transition-duration: 5s;
}

#sec5img:hover{
  transform: scale(1.2);
  transition-duration: 5s;
}

/* animation */

/* SEC7 */

/* SEC8 */

.sec8 {
  background: url('./img/sec8bg.png');
}

.sec8grid {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

.sec8img{
  width: 300px;
}

.nav-tabs .nav-link {
  font-size: 20px;
  color: unset;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: #3f2305 !important;
  border-color: #3f2305 !important;
  color: white !important;
  border-radius: 7px;
}

.nav-link:focus, .nav-link:hover {
  color: #3f2305 !important;
}


@media screen and (max-width: 768px) {
  .sec8grid{
  grid-template-columns: repeat(2, 1fr); /* 2 columns for tablet */
  gap: 20px;
}
}
/* Responsive layout for mobile */
@media screen and (max-width: 480px) {
  .sec8grid{
  grid-template-columns: 1fr; /* 1 column for mobile */
  row-gap: 30px;
}

.sec8img{
  width: 100%;
}

}

/* SEC8 */

/* SEC9 */

.sec9 {
  background: url('./img/sec9bg.png');
  height: 650px;
  border-bottom: 100px solid white;
}

#carouselExampleFade {
  /* margin-top: clamp(30px, 50%,100px); */
  width: 100%;
  gap: 60px;
  display: flex;
  flex-direction: column;
}

.testbox1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



#testdesc {
  color: black;
  font-family: Raleway;
  font-size: 24px;
  width: 350px;
}

#testname {
  color: #606F76;
}

#name {
  color: black;
}

#test1 {
  width: auto;
  height: 500px;
}

.carousel-control-next-icon {
  background: url('./img/next.svg') !important;
  background-repeat: no-repeat !important;
  width: 63px !important;
  height: 63px !important;
}

.carousel-control-prev-icon {
  background: url('./img/prev.svg') !important;
  background-repeat: no-repeat !important;
  width: 63px !important;
  height: 63px !important;
}

.carousel-control-next,
.carousel-control-prev {
  top: 36em !important;
  width: 75em !important;
}

.carousel-control-next {
  right: 2vw;
}

.carousel-control-prev {
  left: -2vw;
}

.sec9col2 {
  margin-top: 30px;
}

#quotes {
  width: 70px;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none;
  transition-duration: 2s;
}

/* SEC9 */

/* Footer */

.footer {
  background: #3f2305;
  padding-top: clamp(40px, 50%, 70px);
  background-repeat: no-repeat;
  color :#F2EAD3;
  margin-top: clamp(100px, 82%, 170px);
  background-size: cover;
}

#footer_title {
  font-family: Rancho;
  font-size: 76px;
  font-weight: 400;
  line-height: 119px;
  letter-spacing: 0em;
  text-align: left;
}

#footer_desc {
  font-family: Raleway;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

#subtitle {
  font-family: Red Hat Display;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.subtext {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.div2 {
  display: flex;
  place-content: space-between;
  flex-wrap: wrap;
  margin-top: 100px;
  padding-bottom: 100px;
  gap: 40px;
}

/* Footer */

/* 1100px to 800px */

@media (min-width:700px) and (max-width:1100px) {

  #sec5img {
    width: 100%;
  }

  #sec3img {
    width: 100%;
  }


  .sec4 .container {
    place-content: space-between;
  }

  #more_menu {
    font-size: 14px;
  }

  .sec6 .container {
    flex-direction: row;
  }
}

/* 1100px to 800px */

/* 800px */

@media(max-width:700px) {

  .logo img{
  width: 190px;
  
  }

  #sec3img {
    width: -webkit-fill-available;
  }

  #sec5img {
    width: -webkit-fill-available;
  }

  .sec6 .container {
    flex-direction: column-reverse;
  }

  #sec7img1 {
    height: 250px;
  }

  #sec7img2 {
    height: 250px;
  }

  #sec7subdiv1 {
    padding-left: 15px;
    padding-right: 0px;
  }

  #sec7subdiv2 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .sec7col1 {
    gap: 15px;
  }

  .dotdiv {
    gap: 10px;
  }

  #dot {
    width: 6px;
    align-self: center;
    height: 6px;
  }

  #sec6sweet {
    font-size: 14px;
  }

  #sec4_title {
    font-size: 30px;
  }

  #sec4_desc {
    font-size: 14px;
  }

  #abouttext {
    font-size: 17px;
  }

  #more_menu {
    font-size: 15px;
    padding: 3px 30px;
  }

  #subscribe {
    font-size: 15px;
    padding: 3px 30px;
  }

  #sec5col1 {
    padding-left: 30px;
    padding-right: 15px;
    overflow: hidden;
  }

  #sec4_boxtitle {
    font-size: 22px;
  }

  .sec2_title {
    font-size: 22px;
  }

  .sec2_desc {
    font-size: 14px;
  }

  .sec2img {
    width: 40px;
  }

  .sec4 .container {
    flex-direction: column-reverse;
  }

  .carousel-control-next,
  .carousel-control-prev {
    display: none !important;
  }

  #test1 {
    width: 100%;
    height: 350px;
  }

  #testdesc {
    font-size: 16px;
    width: -webkit-fill-available;
  }

  .testbox1 {
    flex-direction: column-reverse;
    gap: 70px;
  }

  #footer_title {
    font-size: 46px;
    line-height: 60px;
  }

  #footer_desc {
    font-size: 18px;
  }

  .subtext {
    font-size: 16px;
  }

  .div1col1 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .div2 {
    display: flex;
    place-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 50px;
    gap: 40px;
  }

  .div2col1 {
    border-top: 1px solid #b0babf;
    padding-top: 30px;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .div2col2 {
    border-top: 1px solid #b0babf;
    padding-top: 30px;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .sec1 {
    width: -webkit-fill-available;
    position: fixed;
    background-color: #3F2305;
    z-index: 99999999;
  }

  .menu-link {
    display: none;
  }

  #logo {
    text-align: left;
  }

  .coffeecol{
    margin-top: 90px;
    margin-bottom: 70px;
  }
}

/* 800px */