/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Sidebar.css */

.sidebar {
  position: fixed;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #fff;
  -webkit-transition: left 0.3s, width 0.3s, -webkit-transform 0.3s;
  transition: left 0.3s, width 0.3s, -webkit-transform 0.3s;
  -o-transition: left 0.3s, transform 0.3s, width 0.3s;
  transition: left 0.3s, transform 0.3s, width 0.3s;
  transition: left 0.3s, transform 0.3s, width 0.3s, -webkit-transform 0.3s;
  /* Add width for smooth sidebar width transition */
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right;
  /* Set the transform origin to the top right corner */
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.sidebar.open {
  right: 0;
  opacity: 1;
  width: -webkit-fill-available;
  z-index: 999999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: left 1s, width 1s, -webkit-transform 1s;
  transition: left 1s, width 1s, -webkit-transform 1s;
  -o-transition: left 1s, transform 1s, width 1s;
  transition: left 1s, transform 1s, width 1s;
  transition: left 1s, transform 1s, width 1s, -webkit-transform 1s;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.sidebar.open .bar {
  background-color: #fff;
}

.sidebar-toggle {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  top: 26px;
  left: 85vw;
  z-index: 999999999;
  -webkit-transition-duration: 1s;
       -o-transition-duration: 1s;
          transition-duration: 1s;
}

.bar {
  width: 25px;
  opacity: 1;
  height: 3px;
  background-color: #3F2305;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  /* Add background-color transition for smooth color change */
}

.sidebar-links {
  list-style: none;
  padding: 0px;
  margin: 90px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 23px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  color: #432a24;
  gap: 10px;
}

.sidebar-links li {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.sidebar-links a {
  text-decoration: none;
  color: #fff;
}

.sidebar_logo {
  width: 200px;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  .sidebar {
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    right: 0px;
  }

  .sidebar.open {
    right: 0;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }

  .sidebar-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .sidebar-links {
    width: 100vw;
  }

}